@import "_extend";

.producto_inicio {
    // background-image: url(../assets/logo_fondo_negro.png);
    // background-repeat: repeat;
    animation-name: animacion-producto;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    section {
        @extend .caja_producto;
        margin: 10px 5px;

        img {
            width: 200px;
            height: 300px;
            border-radius: 15px;
        }

        p {
            color: $color-principal;
            background-color: $color-terciario;
        }
    }

    a section:hover {
        width: 270px;
        border-radius: 50px;
        transition: 1s;
    }
}

@keyframes animacion-producto {
    0% {
        background-color: $color-principal;
    }

    25% {
        background-color: $color-terciario;
    }

    75% {
        background-color: $color-principal;
    }
}



.producto {
    animation-name: animacion-producto-2;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    section {
        @extend .caja_producto;

        img {
            width: 200px;
            height: 300px;
        }

        img:hover {
            transform: rotateY(180deg);
            transition: 2s;
        }

        p {
            color: $color-principal;
            background-color: $color-terciario;
        }
    }

    a section:hover {
        width: 270px;
        border-radius: 50px;
        transition: 1s;
    }
}

@keyframes animacion-producto-2 {
    0% {
        background-color: $color-principal;
    }

    25% {
        background-color: $color-secundario;
    }

    75% {
        background-color: $color-principal;
    }
}

.titulo_producto {
    font-family: map-get($fuentes, fuente-secundaria), cursive;
    font-size: 2em;
    background-color: $color-terciario;
    color: $color-principal;
    border: solid 5px $color-secundario;
    text-align: center;
    margin: 15px 0;
    grid-column: 1/5;
}

#vintage {
    border: solid 2px $color-terciario;
    grid-column: 1/2;
    grid-row: 1/3;
}

#modernas {
    border: solid 2px $color-terciario;
    grid-column: 2/3;
    grid-row: 2/4;
}

#rusticas {
    border: solid 2px $color-terciario;
    grid-column: 3/4;
    grid-row: 3/5;
}

#industriales {
    border: solid 2px $color-terciario;
    grid-column: 4/5;
    grid-row: 4/6;
}